
{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
<div role="tabpanel" class="form-content tab tab-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
            {% for table in tables %}
                <div class="card" style="padding: 8px">
                    <p class="alert-text">
                        {{ table.label }}:  {{ table.count }} rows(s) anonymized
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
